---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  chartRef:
    kind: OCIRepository
    name: n8n
  interval: 1h
  values:
    controllers:
      n8n:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/n8n-io/n8n
              tag: 1.122.4@sha256:890c57b244dc8dd2688a05f70759f4b7792871f2a318395882908e751dfdc7f3
            env:
              DB_SQLITE_VACUUM_ON_STARTUP: true
              EXECUTIONS_DATA_MAX_AGE: 7
              EXECUTIONS_DATA_PRUNE_MAX_COUNT: 50000
              EXECUTIONS_DATA_PRUNE: true
              GENERIC_TIMEZONE: "America/Santiago"
              N8N_ENCRYPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-secret"
                    key: N8N_ENCRYPTION_KEY
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: false
              N8N_HOST: &hostName "{{ .Release.Name }}.blkh.dev"
              N8N_LOG_LEVEL: info
              N8N_LOG_OUTPUT: console
              N8N_PORT: &port 8080
              N8N_PROTOCOL: "https"
              N8N_PROXY_HOPS: 1
              WEBHOOK_URL: "https://{{ .Release.Name }}.blkh.dev/"

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                <<: *probes
                spec:
                  httpGet:
                    path: /healthz/readiness
                    port: *port
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - *hostName
        parentRefs:
          - name: envoy-internal
            namespace: network
      webhooks:
        annotations:
          gatus.home-operations.com/endpoint: |-
            url: https://{{ .Release.Name }}w.blkh.dev/webhook/any
            conditions:
              - "[STATUS] == 404"
              - "[BODY].code == 404"
        hostnames:
          - "{{ .Release.Name }}w.blkh.dev"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /webhook
            backendRefs: [{}]
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          n8n:
            app:
              - path: /home/node/.n8n
      tmp:
        type: emptyDir
        advancedMounts:
          n8n:
            app:
              - path: /home/node/.cache
