---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: obsidian-couchdb
spec:
  chartRef:
    kind: OCIRepository
    name: obsidian-couchdb
  interval: 1h
  values:
    controllers:
      obsidian-couchdb:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-config:
            image:
              repository: public.ecr.aws/docker/library/busybox
              tag: latest@sha256:e3652a00a2fabd16ce889f0aa32c38eec347b997e73bd09e69c962ec7f8732ee
              pullPolicy: IfNotPresent
            command:
              - "/bin/sh"
              - "-c"
              - "cp /tmp/config/*.ini /opt/couchdb/etc/default.d/; ls -lrt /opt/couchdb/etc/default.d;"
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/couchdb
              tag: 3.5.1
            envFrom:
              - secretRef:
                  name: obsidian-couchdb-secret
            resources:
              requests:
                memory: 512Mi
                cpu: 10m
              limits:
                memory: 1024Mi
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: &port 5984
    configMaps:
      config:
        data:
          config.ini: |-
            [couchdb]
            single_node = true
            max_document_size = 50000000

            [chttpd]
            require_valid_user = true
            bind_address = any
            max_http_request_size = 4294967296

            [chttpd_auth]
            require_valid_user = true
            authentication_redirect = /_utils/session.html

            [httpd]
            WWW-Authenticate = Basic realm="couchdb"
            enable_cors = true

            [cors]
            origins = app://obsidian.md,capacitor://localhost,http://localhost
            credentials = true
            headers = accept, authorization, content-type, origin, referer
            methods = GET, PUT, POST, HEAD, DELETE
            max_age = 3600

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            url: https://obsidian-db.blkh.dev
            conditions:
              - "[STATUS] == 401"
        hostnames:
          - "{{ .Release.Name }}.blkh.dev"
          - obsidian-db.blkh.dev
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        type: configMap
        identifier: config
        advancedMounts:
          obsidian-couchdb:
            init-config:
              - path: /tmp/config
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          obsidian-couchdb:
            app:
              - path: /opt/couchdb/data
      config-storage:
        type: emptyDir
        globalMounts:
          - path: /opt/couchdb/etc/default.d
