---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./esphome/ks.yaml
  - ./go2rtc/ks.yaml
  - ./home-assistant/ks.yaml
  - ./mosquitto/ks.yaml
  - ./wyze-bridge/ks.yaml
  - ./zigbee2mqtt/ks.yaml
  - ./zwave/ks.yaml
