---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  chart:
    spec:
      chart: longhorn
      version: 1.11.0
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: longhorn-system
  interval: 1h
  values:
    persistence:
      defaultDataLocality: best-effort
    defaultSettings:
      defaultDataPath: "/var/mnt/longhorn"
      replicaDiskSoftAntiAffinity: false
      createDefaultDiskLabeledNodes: true
      defaultDataLocality: best-effort
      defaultLonghornStaticStorageClass: longhorn
      defaultReplicaCount: "3"
      guaranteedEngineManagerCPU: "30"
      guaranteedReplicaManagerCPU: "30"
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      orphanAutoDeletion: true
      replicaAutoBalance: best-effort
      storageMinimalAvailablePercentage: "1"
      storageReservedPercentageForDefaultDisk: "10"
    ingress:
      enabled: false
    metrics:
      serviceMonitor:
        enabled: true
