---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  chartRef:
    kind: OCIRepository
    name: longhorn
  interval: 1h
  values:
    preUpgradeChecker:
      jobEnabled: false
      upgradeVersionCheck: false
    image:
      longhorn:
        instanceManager:
          tag: v1.11.0-hotfix-1
        manager:
          tag: v1.11.0-hotfix-1
    persistence:
      defaultDataLocality: best-effort
    defaultSettings:
      defaultDataPath: "/var/mnt/longhorn"
      replicaDiskSoftAntiAffinity: false
      createDefaultDiskLabeledNodes: true
      defaultDataLocality: best-effort
      defaultLonghornStaticStorageClass: longhorn
      defaultReplicaCount: "3"
      guaranteedEngineManagerCPU: "30"
      guaranteedReplicaManagerCPU: "30"
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      orphanAutoDeletion: true
      replicaAutoBalance: best-effort
      storageMinimalAvailablePercentage: "1"
      storageReservedPercentageForDefaultDisk: "10"
    ingress:
      enabled: false
    metrics:
      serviceMonitor:
        enabled: true
