---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: go2rtc
spec:
  chartRef:
    kind: OCIRepository
    name: go2rtc
  interval: 1h
  values:
    controllers:
      go2rtc:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/alexxit/go2rtc
              tag: 1.9.12@sha256:baef0aa19d759fcfd31607b34ce8eaf039d496282bba57731e6ae326896d7640
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        forceRename: "{{ .Release.Name }}"
        primary: true
        ports:
          http:
            port: *port
      streams:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.69.124
        externalTrafficPolicy: Local
        ports:
          streams-rtsp:
            port: 554
          streams-webrtc-tcp:
            port: 8555
            protocol: TCP
          streams-webrtc-udp:
            port: 8555
            protocol: UDP
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.blkh.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config-file:
        type: secret
        name: go2rtc-secret
        globalMounts:
          - path: /config/go2rtc.yaml
            subPath: go2rtc.yaml
