---
machine:
  network:
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: d8:c4:97:bf:70:20
              driver: r8169
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-1
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 200GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 200GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn
provisioning:
  diskSelector:
    match: system_disk
  minSize: 200GiB
  grow: true
