---
machine:
  network:
    hostname: k8s-2
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 200GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.dev_path == '/dev/sda' && !system_disk
  maxSize: 200GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn
provisioning:
  diskSelector:
    match: disk.dev_path == '/dev/sda' && !system_disk
  minSize: 200GiB
  grow: true
