---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: board-game-collection-dev
spec:
  chartRef:
    kind: OCIRepository
    name: board-game-collection-dev
  interval: 15m
  values:
    controllers:
      board-game-collection-dev:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/blackjid/board-game-collection
              tag: latest@sha256:cc95718e3a1da3b3141144770924fdf290a62591399894d279f2996412ead5c7
            env:
              TZ: America/Santiago
              DATA_PATH: /data
              PORT: &port 3000
              NEXT_PUBLIC_BASE_URL: "https://ludo-test.blkh.dev"
            envFrom:
              - secretRef:
                  name: board-game-collection-secret
            probes:
              liveness:
                enabled: true
                spec:
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources: {}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames:
          - "ludo-test.blkh.dev"
        parentRefs:
          - name: envoy-external
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
      app-cache:
        type: emptyDir
        globalMounts:
          - path: /app/.next/cache
      tmp:
        type: emptyDir
      chromium-cache:
        type: emptyDir
        globalMounts:
          - path: /home/node/.cache
      chromium-config:
        type: emptyDir
        globalMounts:
          - path: /home/node/.config
