---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: board-game-collection
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn
