---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: board-game-collection
spec:
  chartRef:
    kind: OCIRepository
    name: board-game-collection
  interval: 1h
  values:
    controllers:
      board-game-collection:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/blackjid/board-game-collection
              tag: latest@sha256:f206e142d225bc89e4c5f311eb9dca3cc73090f69760cb30db8654c8a3bd2a1b
            env:
              TZ: America/Santiago
              DATA_PATH: /data
              PORT: &port 3000
              NEXT_PUBLIC_BASE_URL: "https://ludo.blkh.dev"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources: {}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: board-game-collection
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames:
          - "{{ .Release.Name }}.blkh.dev"
          - "ludo.blkh.dev"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
      app-cache:
        type: emptyDir
        globalMounts:
          - path: /app/.next/cache
      tmp:
        type: emptyDir
      chromium-cache:
        type: emptyDir
        globalMounts:
          - path: /home/node/.cache
      chromium-config:
        type: emptyDir
        globalMounts:
          - path: /home/node/.config
