---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: board-game-collection-dev
spec:
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  interval: 30m
  path: ./kubernetes/apps/development/board-game-collection-dev/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: development
  wait: false
