---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: plex
spec:
  components:
    - ../../../../components/nfs-scaler
    - ../../../../components/volsync
  dependsOn:
    - name: intel-gpu-resource-driver
      namespace: kube-system
    - name: longhorn
      namespace: longhorn-system
    - name: onepassword
      namespace: external-secrets
  interval: 1h
  path: ./kubernetes/apps/media/plex/app
  postBuild:
    substitute:
      APP: plex
      VOLSYNC_CAPACITY: 30Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  wait: false
